<a href="https://colab.research.google.com/github/joehawkens/MachineLearning/blob/main/MODULE_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MODULE 4
## Target: Predict the number of bicycle rentals for a given day. - Casual + Registered
- Overview: https://byui-cse.github.io/cse450-course/module-04/
- Data Dictionary: https://byui-cse.github.io/cse450-course/module-04/bikes-dictionary.txt
- Data: https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/bikes.csv

In [30]:
import pandas as pd
bike_rental_data = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/bikes.csv')
bike_rental_data.describe()

#hour holiday, working a

,season,hr,holiday,workingday,weathersit,hum,windspeed,temp_c,feels_like_c,casual,registered
count,16637.000000,16637.000000,16637.000000,16637.000000,16637.000000,16637.000000,16637.000000,16637.000000,16637.000000,16637.000000,16637.000000
mean,2.482058,11.547875,0.028671,0.684378,1.415580,0.624756,12.750436,15.723008,15.852141,36.471239,154.005770
std,1.085930,6.914199,0.166885,0.464777,0.637298,0.193227,8.168415,9.041349,11.322751,49.995203,151.319818
min,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,-7.060000,-16.000000,0.000000,0.000000
25%,2.000000,6.000000,0.000000,0.000000,1.000000,0.470000,7.000000,7.980000,5.997800,4.000000,35.000000
50%,2.000000,12.000000,0.000000,1.000000,1.000000,0.620000,13.000000,16.440000,17.000000,17.000000,116.000000
75%,3.000000,18.000000,0.000000,1.000000,2.000000,0.780000,17.000000,23.020000,24.999200,50.000000,220.000000
max,4.000000,23.000000,1.000000,1.000000,4.000000,1.000000,57.000000,39.000000,50.000000,367.000000,886.000000

In [31]:
# Adds the registed and casual together into a new column called total rentals:
bike_rental_data['total_rentals'] = bike_rental_data['casual'] + bike_rental_data['registered']

# Drops the registered and casual columns
bike_rental_data = bike_rental_data.drop(['registered', 'casual'], axis=1)

## Holiday:

In [32]:
import altair as alt
sampled_data = bike_rental_data.sample(n=1000, random_state=42)  # Sample 1000 random rows from the dataset

aggregated_data = bike_rental_data.groupby('holiday').agg({'total_rentals': 'sum'}).reset_index()

bar_chart = alt.Chart(aggregated_data).mark_bar().encode(
    x='holiday:N',
    y='total_rentals:Q',
    color='holiday:N'
).properties(
    width=500,
    height=300,
    title='Bar Chart of Holiday vs. Total Rentals (Aggregated Data)'
)

bar_chart

alt.Chart(...)

## Hour: 17, 18, 8, 19, 16 - Keep

In [33]:
import altair as alt
import pandas as pd

# Aggregate data by hour and calculate the total rentals
hourly_data = bike_rental_data.groupby('hr').agg({'total_rentals': 'sum'}).reset_index()

# Sort the data by the 'total_rentals' column in ascending order
hourly_data = hourly_data.sort_values('total_rentals')

# Create the bar chart
bar_chart = alt.Chart(hourly_data).mark_bar().encode(
    x=alt.X('hr:O', title='Hour'),
    y=alt.Y('total_rentals:Q', title='Total Rentals')
).properties(
    width=500,
    height=300,
    title='Bar Chart of Hour vs. Total Rentals (Sorted)'
)

bar_chart

alt.Chart(...)

In [34]:
bike_rental_data

,dteday,season,hr,holiday,workingday,weathersit,hum,windspeed,temp_c,feels_like_c,total_rentals
0,1/1/11,1,0,0,0,1,0.81,0,3.28,3.0014,16
1,1/1/11,1,1,0,0,1,0.80,0,2.34,1.9982,40
2,1/1/11,1,2,0,0,1,0.80,0,2.34,1.9982,32
3,1/1/11,1,3,0,0,1,0.75,0,3.28,3.0014,13
4,1/1/11,1,4,0,0,1,0.75,0,3.28,3.0014,1
...,...,...,...,...,...,...,...,...,...,...,...
16632,11/30/12,4,19,0,1,1,0.66,0,7.04,7.0010,377
16633,11/30/12,4,20,0,1,1,0.66,0,7.04,7.0010,245
16634,11/30/12,4,21,0,1,1,0.75,6,6.10,5.0012,183
16635,11/30/12,4,22,0,1,1,0.75,0,6.10,5.9978,163
16636,11/30/12,4,23,0,1,2,0.75,6,6.10,5.0012,110

## Working Days - Drop

In [35]:
import pandas as pd
import altair as alt

aggregate_data = bike_rental_data.groupby('workingday')['total_rentals'].mean().reset_index()

chart = alt.Chart(aggregate_data).mark_bar().encode(
    x='workingday',
    y='total_rentals',
    color=alt.Color('workingday', legend=None),
    tooltip=['workingday', 'total_rentals']
).properties(
    title='Average Rentals per Working Day'
)

chart

# bike_rental_data['dteday'].value_counts()
bike_rental_data.drop('workingday', axis=1)

,dteday,season,hr,holiday,weathersit,hum,windspeed,temp_c,feels_like_c,total_rentals
0,1/1/11,1,0,0,1,0.81,0,3.28,3.0014,16
1,1/1/11,1,1,0,1,0.80,0,2.34,1.9982,40
2,1/1/11,1,2,0,1,0.80,0,2.34,1.9982,32
3,1/1/11,1,3,0,1,0.75,0,3.28,3.0014,13
4,1/1/11,1,4,0,1,0.75,0,3.28,3.0014,1
...,...,...,...,...,...,...,...,...,...,...
16632,11/30/12,4,19,0,1,0.66,0,7.04,7.0010,377
16633,11/30/12,4,20,0,1,0.66,0,7.04,7.0010,245
16634,11/30/12,4,21,0,1,0.75,6,6.10,5.0012,183
16635,11/30/12,4,22,0,1,0.75,0,6.10,5.9978,163
16636,11/30/12,4,23,0,2,0.75,6,6.10,5.0012,110

## Season - Keep

In [36]:
bike_rental_data['season'].value_counts()

3    4496
2    4409
1    3980
4    3752
Name: season, dtype: int64

## Weather Sit - Drop

In [37]:
bike_rental_data['weathersit'].value_counts()
bike_rental_data.drop('weathersit', axis=1)

,dteday,season,hr,holiday,workingday,hum,windspeed,temp_c,feels_like_c,total_rentals
0,1/1/11,1,0,0,0,0.81,0,3.28,3.0014,16
1,1/1/11,1,1,0,0,0.80,0,2.34,1.9982,40
2,1/1/11,1,2,0,0,0.80,0,2.34,1.9982,32
3,1/1/11,1,3,0,0,0.75,0,3.28,3.0014,13
4,1/1/11,1,4,0,0,0.75,0,3.28,3.0014,1
...,...,...,...,...,...,...,...,...,...,...
16632,11/30/12,4,19,0,1,0.66,0,7.04,7.0010,377
16633,11/30/12,4,20,0,1,0.66,0,7.04,7.0010,245
16634,11/30/12,4,21,0,1,0.75,6,6.10,5.0012,183
16635,11/30/12,4,22,0,1,0.75,0,6.10,5.9978,163
16636,11/30/12,4,23,0,1,0.75,6,6.10,5.0012,110

## Date - Drop

In [38]:
bike_rental_data['dteday'].value_counts()
bike_rental_data.drop('dteday', axis=1)

,season,hr,holiday,workingday,weathersit,hum,windspeed,temp_c,feels_like_c,total_rentals
0,1,0,0,0,1,0.81,0,3.28,3.0014,16
1,1,1,0,0,1,0.80,0,2.34,1.9982,40
2,1,2,0,0,1,0.80,0,2.34,1.9982,32
3,1,3,0,0,1,0.75,0,3.28,3.0014,13
4,1,4,0,0,1,0.75,0,3.28,3.0014,1
...,...,...,...,...,...,...,...,...,...,...
16632,4,19,0,1,1,0.66,0,7.04,7.0010,377
16633,4,20,0,1,1,0.66,0,7.04,7.0010,245
16634,4,21,0,1,1,0.75,6,6.10,5.0012,183
16635,4,22,0,1,1,0.75,0,6.10,5.9978,163
16636,4,23,0,1,2,0.75,6,6.10,5.0012,110

## Feature Selection

- season
- hr